<!DOCTYPE <html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <title>Forgot Password | SkillSwap</title>
       <link rel="stylesheet" href="{% static 'aero.css' %}">
   </head>

   <body>
       <main class="login-page">
           <div class="project">
               <span>SKILLSWAP</span>
           </div>

           <section class="login-general">
               <h1>Reset Your Password</h1>

               <form method="POST" action="{% url 'user_forgot_pwd' %}">
                   {% csrf_token %}

                   {{ form.non_field_errors }}

                   <div class="form-group">
                       <label for="email">EMAIL</label>

                       <input
                           type="email"
                           id="email"
                           name="email"
                           autocomplete="email"
                           value="{{ form.email.value|default_if_none:'' }}"
                           required
                       >

                    {{ form.non_field_errors }}
                   </div>
               </form>

           </section>
       </main>
   </body>
</html>
</html>
