{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Password | SkillSwap</title>
        <link rel="stylesheet" href="{% static 'aero.css' %}">
    </head>
    <body>
        <main class="login-page">
            <div class="project">
                <div class="project-logo"></div>
                <span>SKILLSWAP</span>
            </div>

            <section class="login-general">
                <h1>Change Your Password</h1>

                <form method="POST" action="{% url 'user_reset_password' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        <label for="password">NEW PASSWORD</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            autocomplete="new-password"
                            required
                        >
                        {{ form.password.errors }}
                    </div>

                    <div class="form-group">
                        <label for="password_confirm">CONFIRM NEW PASSWORD</label>
                        <input
                            type="password"
                            id="password_confirm"
                            name="password_confirm"
                            autocomplete="new-password"
                            required
                        >
                        {{ form.password_confirm.errors }}
                    </div>

                    <button type="submit" class="login-button">
                        CHANGE PASSWORD
                    </button>
                </form>

                <div class="register">
                    <span>
                        Remember your password?
                    </span>
                    <a href="{% url 'user_forgot_pwd' %}">
                        Back to email -->
                    </a>
                </div>
            </section>
        </main>
    </body>
</html>
